*{
    margin: 0;
    padding: 0;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background: rgb(100, 98, 98);
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}



@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition:  transform 0.3s ease-in;
        background: red;
    }

    .mobile-menu{
        display: block;


    }
  
}

.nav-list.active{
    transform: translateX(0);

}