@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", sans-serif;
}

/*body.menu-sticky {
    padding-top: 8vh; /* mesma altura do nav */

    /* padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}*/ 




.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
     font-family: "Trade Winds", system-ui;
}

.lead{
    font-family: "Roboto Condensed", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 8vh;
    /* padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right); */

}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* fica por cima do conteúdo */
}


.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.icon-close {
    display: none;
}

.mobile-menu.active .icon-open {
    display: none;
}

.mobile-menu.active .icon-close {
    display: block;
}


.button-nav1 {
    width: 150px;
    background-color: #BE6DBD;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
    
}

.button-nav {
    width: 150px;
    background-color: #F4D697;
    border-radius: 15px;
    height: 35px;
    border: none;
    color: rgb(0, 0, 0);
}

.pesquisar {
    width: 250px;
}

.button2nav {
    width: 100px;
    border: none;
    border-radius: 10px;
   border: 1px solid black;
}

.buttons {
    margin-left: 250px;
    display: flex;
    gap: 50px;
}

/* ======== MOBILE ======== */
@media (max-width: 999px) {

    .nav-list {
        position: fixed; /* FIXA NA TELA TODA */
        top: 8vh;
        right: 0;
        width:65vw;   /* AGORA PEGA A TELA TODA */
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        background: rgb(255, 255, 255);
        transform: translateX(100%); /* escondido */
        transition: transform 0.6s ease-in;
        padding-top: 70px;
        overflow-x: hidden; /* impede sair para fora */
        z-index: 9999;
        padding-left: 30px;
        padding-right: 30px;
        
    }

    .nav-list.active {
        transform: translateX(0); /* aparece */
    }

    .mobile-menu {
        display: block;
        z-index: 10000;
        position: relative;
    }

    .buttons {
        margin-left: 0 !important;
        gap: 10px;
    }

    .button2nav{
        background-color: #ffffff;
        filter: invert(100%);
    }

    /* .swiper-slide .card {
      width: 100% !important;
      max-width: 250px;
  } */





    
}

@media (max-width: 768px) {
  /* .swiper-slide .card {
      width: 250px !important;
      margin: 0 auto;
      margin-left: 10px;   

  }
  .buttoncard{
    margin-left: 5px !important; 
}

.infos-card{
   display: flex;
   gap: 15px;
}

.card{
    height: 450px;
} */

.infofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputfooter{
    margin-top: 20px;
}

footer{
    height: 240px !important;
}

}

/* ======== MOBILE ======== */
@media (max-width: 480px) {
    
    /* .infos-card {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        width: 100%;
    } */

    .input1 {
        width: 90%;
        max-width: 300px;
    }

    #filtro {
        width: 90%;
        max-width: 300px;
    }

    .lead{

    }

    /* .titlecards {
        text-align: center;
        width: 100%;
    }
    .swiper-slide .card {
      width: 100% !important;
      max-width: 220px;
  } */
}

/* config dos cards */
.card1, .card2{
    height: 700px;
}

.card1{
    background-color: aqua;
    margin-bottom: 30px;
}

.card2{
    background-color: rgb(202, 220, 39);
}

/* ANIMAÇÃO DOS LINKS */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.extra-content {
    display: none;               /* escondido quando menu estiver fechado */
    text-align: center;
    padding-top: 140px;
    
}

a{
    color: black;
}

.nav-list.active .extra-content {
    display: block;              /* aparece só quando o menu abre */
    animation: aparecer .3s ease forwards;
}

.imgmenu{
    padding-top: 70px;
    gap: 10px;
    display: flex;
    justify-content: center;
    cursor: progress;
}



.imgprodut{
    margin-left: 20px;
}

.peqproduto{
    display: flex;
    justify-content: center;
}

.bemvindo{
     font-family: "Trade Winds", system-ui;
}


.icon-open,.icon-close {
    filter: invert(100%);
}

 




footer{
    margin-top: 50px;
    background-color: black;
    height: 250px;
    color: white;
    
}

.imgfooter{
    filter: invert(100%);

}

.redesfooter{
    display: flex;
    gap: 10px;
    

}

.infofooter{
    padding-top: 20px;
    margin-left: 30px;
   
}

.inputfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  
}

.emailfooter{
    text-align: center;
}

.brasil{
    display: flex;
    justify-content: end;
    align-items: end;
}

.buttonemail{
    width: 80px;
    border-radius: 10px;
    background-color: #BE6DBD;
    color: white;
    
}

