


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
     /* background-color: #f1bbf0; */
}
.imgsaida{
    filter: invert(100%);
}

.saida{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}


.img-logo{
    display: flex;
}

.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    gap: 100px;
    
}

.filho{
    display: flex;
    flex-direction: column;
   
    
}
.filho1{
    display: flex;
    flex-direction: column;
   
    
}

.google, .facebook{
    display: flex;
    border: 1px solid #000000;
    width: 250px;
    padding: 5px;
}

.redessociais{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes-title{
    margin-left: 10px;
}

.textoprincipal{
    text-align: center;
}

.ou{
    text-align: center;
}

.entrar{
    margin-top: 10px;

}
.input-login{
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;
}

.recuperacao{
    margin-top: 10px;
    text-align: center;
}

/* parte do cadastro */


.filho1{
   /* background-color: #d78ed5; */
   
    height: 480px;
}

.title-cadastro{
    text-align: center;
    margin-top: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
   
    
}

.intupsclass{
    width: 300px;
    padding: 2px;
    margin-bottom: 6px
}

.intupsclasscpf{
    width: 250px;
}

.cpf{
    display: flex;
    gap: 6px;
     margin-bottom: 6px;
     padding: 2px;
}

.cpfdigito{
    width: 44px;
    padding: 2px;
}

.intupsclasscep{
    width: 150px;
    padding: 2px;
    margin-bottom: 6px;
    
}
.cep{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio{
    margin-top: 15px;
    
}

.titlegenero{
    text-align: center;
}

.radios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.avisos{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.button-cadastrar{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

/* mobile */

@media (max-width: 768px){
    .pai{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin: 0 auto 20px;
    }
     .filho1{
        margin-top: 30px;
        width: 400px;
        
    
    }
}

.namefooter{
    text-align: center;
}

footer{
    margin-top: 50px;
    margin-bottom: 10px;
}