


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgsaida{
    filter: invert(100%);
}

.saida{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}


.img-logo{
    display: flex;
}

.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    gap: 100px;
    
}

.filho{
    display: flex;
    flex-direction: column;
   
    
}
.filho1{
    display: flex;
    flex-direction: column;
   
    
}

.google, .facebook{
    display: flex;
    border: 1px solid #000000;
    width: 250px;
    padding: 5px;
}

.redessociais{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes-title{
    margin-left: 10px;
}

.textoprincipal{
    text-align: center;
}

.ou{
    text-align: center;
}

.entrar{
    margin-top: 10px;

}
.input-login{
    width: 300px;
    padding: 5px;
}

.recuperacao{
    margin-top: 10px;
    text-align: center;
}

/* parte do cadastro */